PORT=3000
NODE_ENV=development

DATABASE_URL=postgresql://postgres:password@localhost:5432/sales_dm_hub

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sales_dm_hub
DB_USER=postgres
DB_PASSWORD=password
DB_SSL=false
